 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Quiz</title>


    <link href="/quiz/css/bootstrap.min.css" rel="stylesheet">

    <link href="/quiz/css/signin.css" rel="stylesheet">
    <link href="/quiz/css/add.css" rel="stylesheet">
</head>
<div class="return">
    <a href="/quiz/index.php">Menu</a>
</div>
