{% extends 'static/app.twig' %}

{% block head %}
    {% include 'static/head.twig' %}
{% endblock %}

{% block content %}
    <h1>ADMIN</h1>
    
{% endblock %}

{% block footer %}
    {% include 'static/footer.twig' %}
{% endblock %}