{% extends 'static/app.twig' %}

{% block head %}
    {% include 'static/head.twig' %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-auto centerText">  
            <img class="mb-4 logo" src="/quiz/img/logo.png" alt="">
            <h1 class="spaceb">MENU</h1>
            {% if message != "" %}
                <div class="alert alert-warning" role="alert">
                    {{message}}
                </div>
            {% endif %}
            <div class="menuItem">
                <a class="btn btn-primary spaceb constWidthBtn" href="index.php?page=admin">Panel administracyjny</a>
            </div>
            <div class="menuItem">
                <a class="btn btn-primary spaceb constWidthBtn" href="index.php?page=quiz">Rozpocznij quiz</a>
            </div>
            <div class="menuItem">
                <a class="btn btn-primary spaceb constWidthBtn" href="index.php?page=scoreboard">Sprawdź wyniki</a>
            </div>
            <div class="menuItem">
                <a class="btn btn-primary spaceb constWidthBtn" href="modules/user.php?action=logout">Wyloguj</a>
            </div>
        </div>
    </div>
</div>
        
{% endblock %}

{% block footer %}
    {% include 'static/footer.twig' %}
{% endblock %}