{% extends 'static/app.twig' %}

{% block head %}
    {% include 'static/head.twig' %}
{% endblock %}

{% block content %}
    <h1>scoreboard</h1>
    
    <table>
    {% for record in data %}
        <tr>
            <td>{{record.login}}</td>
            <td>{{record.score}}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}

{% block footer %}
    {% include 'static/footer.twig' %}
{% endblock %}