{% extends 'static/app.twig' %}

{% block head %}
    {% include 'static/head.twig' %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col">  
                <h1>Tabela wyników</h1>
                
                <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nick</th>
                        <th scope="col">Wynik</th>
                    </tr>
                </thead>
                {% for record in data %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{record.login}}</td>
                        <td>{{record.score}}</td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'static/footer.twig' %}
{% endblock %}