{% extends 'static/app.twig' %}

{% block head %}
    {% include 'static/head.twig' %}
{% endblock %}

{% block content %}

    
    <form class="form-signin"  method="POST" action="modules/user.php?action=login">
      <img class="mb-4 logo" src="/quiz/img/logo.png" alt="">
      <h1 class="h3 mb-3 font-weight-normal">Zaloguj się</h1>
      <label for="inputEmail" class="sr-only">Login</label>
      <input type="text" id="inputEmail" class="form-control" placeholder="Login" name="login" required autofocus>
      <label for="inputPassword" class="sr-only">Hasło</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Hasło" name="pass" required>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj</button>
    <div class="alert alert-warning" role="alert">
        {{message}}
    </div>
    </form>

{% endblock %}

{% block footer %}
    {% include 'static/footer.twig' %}
{% endblock %}